
body{
    height: 100vh;
}
.my_container{
    max-width: 1500px;
    margin: auto;
    height: 100%;
}
.items{
    width: 760px;
    height: 360px;
    position: relative;
}
.items-list{
    position: relative;
}
.item-element{
    width: 220px;
    height: 72px;
}
.next, .previous{
    position: absolute;
    cursor: pointer;
    left: 100px;
    margin: 10px 0;
    font-size: 20px;
    color: white;
    z-index: 500;
    color: white;
}
.next{
    top: 320px;
}
.previous{
    bottom: 320px;
}

.item img, .item-element img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item img{
    height: 360px;
}
.text{
    text-align: right;
    position: absolute;
    top: 240px;
    right: 10px;
   
}
.item-element img{
    filter: brightness(50%);
}
.selected{
    border: 1px solid white;
}
.selected-main{
    display: block !important;
}
.item{
    display: none;
}